<h1>welcome to Angular</h1>
<h1>My First Name is {{firstName}}</h1> 
{{show()}}
<input type="text" [value]= "lastName">
<input type="text" value= {{lastName}}> <br>
<br>
<input type="button" value="Click Me" (click)="showMessage">
<br>
<br>
<input type="text" name="rama" [(ngModel)]="firstName">
<br><br>
<table border="1" cellpadding="10" cellspacing="0">
  <tr>
    <td>employeenum</td>
    <td>emp Name</td>
    <td>emp salary</td>
   </tr>
   <tr>
    <td atteib.colspan = "colspanvalue">

    </td>
   </tr>
  </table>
