<div class="container">
    <br><br>

    <div class="col-xs-10 col-sm-10 col-md-6 col-lg-6">
        <div class="text-center">
            <h2>Login</h2>
        </div>
        <form>

            <div class="form-outline mb-4">
                <label class="form-label" for="form2Example1">Enter User Name</label><br>
                <input type="email" id="form2Example1" class="form-control" /><br>
            </div><br>


            <div class="form-outline mb-4">
                <label class="form-label" for="form2Example2">Enter Password</label><br>
                <input type="password" id="form2Example2" class="form-control" />
            </div><br>


            <div class="text-center">
                <button type="button" class="btn btn-primary btn-block mb-4 ">Login</button>

            </div>


        </form>

    </div>

</div>