<!-- <div>
<br>
   


    <div [ngSwitch] = "4">
        <div *ngSwitchCase = "1">Output-1</div>
        <div *ngSwitchCase = "2">Output-2</div>
        <div *ngSwitchCase = "3">Output-3</div>
        <div *ngSwitchCase = "4">Output-4</div>
        <div *ngSwitchDefault>"Invalid choice"</div>
    </div> -->


    <body ng-app="">

      Service: <input type="checkbox" ng-model="myVar" ng-init="myVar = true">
        
        <div ng-if="myVar">
        <h1>Welcome TO SNAD</h1>
       </div>
        
        <h4> Business Application Development</h4>
            <p>Improve profitability with scalable and simplified software application
            At Snad services, we can help you identify, assess, and bridge the gaps in your business applications stack. we use emerging technologies and software-as-a-service to drive innovation in business application services. We deliver application solutions that are supported by IaaS by migrating your applications to the cloud. We recognize that business applications must be deployed and upgraded easily, efficiently, securely, and affordably, and we will collaborate closely with you to co-create a solution that delivers measurable business benefits. Every aspect of our end-to-end service portfolio is covered,
            from application development and integration to application management and outsourcing.</p>
       
        
        </body>
        
        
        

