<section class="mb-4">
<h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
    <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
        a matter of hours to help you.</p>
 <div class="row">
 <div class="col-md-9 mb-md-0 mb-5">
 <form id="contact-form" name="contact-form" action="mail.php" method="POST">
 <div class="row">
 <div class="col-md-6">
 <div class="md-form mb-0">
 <label for="name" class="">Your name</label>
 <input type="text" name="name" #name="ngModel" id="contactUsername" class="form-control" [(ngModel)]="contactUser.name"
            placeholder="Your Name" aria-describedby="name"  required>
        <small *ngIf="(name.invalid && name.touched) ||(name.invalid && Send.submitted)" id="name" class="text-muted">Your Name is Mandatory</small>
 <!-- <input type="text" id="name" name="name" class="form-control"> -->
        </div>
    </div>
    <div class="col-md-6">
 <div class="md-form mb-0">
 <label for="email" class="">Your email</label>
 <!-- <input type="text" id="email" name="email" class="form-control"> -->
 <input type="text" name="email" #email="ngModel" id="contactUseremail" class="form-control" [(ngModel)]="contactUser. email"
            placeholder="Email" aria-describedby="email"  required>
        <small *ngIf="(email.invalid && email.touched) ||(email.invalid && Send.submitted)" id="email" class="text-muted">Mail is Mandatory</small>
                         </div>
                    </div>
                   </div>
               

                
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <label for="subject" class="">Subject</label>
                            <br>
                            <input type="text" id="subject" name="subject" class="form-control">
                          
                        </div>
                    </div>
                </div>
               

               
                <div class="row">

                   
                    <div class="col-md-12">

                        <div class="md-form">
                            <label for="message">Your message</label>
                            <br>
                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                            
                        </div>

                    </div>
                </div>
              

            </form>
            <br>

            <div class="text-center text-md-left">
                <input type="submit" class="btn btn-primary" value="Send">
            </div>
            <div class="status"></div>
        </div>
       
        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="fas fa-map-marker-alt fa-2x"></i>
                    <p>16th Floor,Vijaya Krishna Towers,Nanakramguda,Hyderabad-IN 500032</p>
                </li>

                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                    <p>+91 9160525150</p>
                </li>

                <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p>info@snaddevelopers.com</p>
                </li>
            </ul>
        </div>
       

    </div>

</section>
