<!-- <table class="table">
    <thead>
        <tr>
            <th>Emp. Number</th>
            <th>Emp. Name</th>
            <th>Emp. Salary</th>
            <th>Emp. Address</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emp of employees">
            <td>{{emp.empId}}</td>
            <td>{{emp.empName}}</td>
            <td>{{emp.empSalary}}</td>
            <td>{{emp.empAddress}}</td>
        </tr>
    </tbody>
</table> -->
<br>
<app-grid [dataList]="employees"></app-grid>