<!-- <table class="table">
    <thead>
        <tr>
            <th>Emp. Number</th>
            <th>Emp. Name</th>
            <th>Emp. Salary</th>
            <th>Emp. Address</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emp of employees">
            <td>{{emp.empId}}</td>
            <td>{{emp.empName}}</td>
            <td>{{emp.empSalary}}</td>
            <td>{{emp.empAddress}}</td>
        </tr>
    </tbody>
</table> -->
<div class="col-4">
    First Name :{{person.firstName}} <br>
    Last Name :{{person.lastName}}
    <form name="addEmp" #addEmp="ngForm" (ngSubmit)="addEmp.valid && addEmployee(addEmp)">
        <!-- {{employee|json}} -->
        <div class="mb-3">
            <label for="empNumber" class="form-label">Employee Number</label>
            <input type="text" name="empNumber" #empNumber="ngModel" id="empNumber" class="form-control"
                placeholder="Employee Number" aria-describedby="empNumber" [(ngModel)]="employee.empNumber" required>
            <small *ngIf="(empNumber.invalid && empNumber.touched) || (empNumber.invalid && addEmp.submitted)"
                id="empNumber" class="text-muted">Employee Number is
                Mandatory</small>
        </div>
        <div class="mb-3">
            <label for="empName" class="form-label">Employee Name</label>
            <input type="text" name="empName" #empName="ngModel" id="empName" class="form-control"
                placeholder="Employee Name" aria-describedby="empName" [(ngModel)]="employee.empName" required>
            <small *ngIf="(empName.invalid && empName.touched) || (empName.invalid && addEmp.submitted)" id="empName"
                class="text-muted">Employee Name is Mandatory</small>
        </div>
        <div class="mb-3">
            <label for="empSalary" class="form-label">Employee Salary</label>
            <input type="text" name="empSalary" #empSalary="ngModel" id="empSalary" class="form-control"
                placeholder="Employee Salary" aria-describedby="empSalary" [(ngModel)]="employee.empSalary" required>
            <small *ngIf="(empSalary.invalid && empSalary.touched) || (empSalary.invalid && addEmp.submitted)"
                id="empSalary" class="text-muted">Employee Salary is Mandatory</small>
        </div>
        <div class="mb-3">
            <label for="empAddress" class="form-label">Employee Address</label>
            <input type="text" name="empAddress" id="empAddress" class="form-control" placeholder="Employee Address"
                aria-describedby="empAddress" [(ngModel)]="employee.empAddress">
        </div>
        <div class="mb-3">
            <input type="submit" class="btn btn-primary" value="Add Employee">
        </div>
    </form>
</div>

<br>
<app-grid [dataList]="shareddata" (selectedObj)="selectEmployee($event)" (deleteObj)="deleteEmployee($event)">
    <h3 class="header">Employees List</h3>
    <h3 class="footer">End of Employees List</h3>
</app-grid>
