<form #addStud="ngForm" (ngSubmit)="addStudent()">
    <!-- {{student|json}} -->
    <div class="col-4">
        <div class="mb-3">
            <label for="studNumber" class="form-label">Student Number</label>
            <input type="text" [(ngModel)]="student.studNumber" name="studNumber" id="studNumber" class="form-control"
                placeholder="Student Number">
            <small id="studNumber" class="text-muted">Student Number is Mandatory</small>
        </div>
        <div class="mb-3">
            <label for="studName" class="form-label">Student Name</label>
            <input type="text" [(ngModel)]="student.studName" name="studName" id="studName" class="form-control"
                placeholder="Student Name">
            <small id="studName" class="text-muted">Student Name is Mandatory</small>
        </div>
        <div class="mb-3">
            <label for="studdob" class="form-label">Select Date of Birth</label>
            <input type="date" [(ngModel)]="student.studdob" name="studdob" id="studdob" class="form-control"
                placeholder="Select Date">
            <small id="studdob" class="text-muted">Student DOB is Mandatory</small>
        </div>
    </div>
    <div class="col-8">
        <div class="mb-3">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>University</th>
                        <th>Year of Pass</th>
                        <th>Percentage</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let qua of student.qualification">
                        <td>
                            <input name="name" type="text" [(ngModel)]="qua.name">
                        </td>
                        <td>
                            <input name="university" type="text" [(ngModel)]="qua.university">
                        </td>
                        <td>
                            <input name="yearOfPass" type="text" [(ngModel)]="qua.yearOfPass">
                        </td>
                        <td>
                            <input name="percentage" type="text" [(ngModel)]="qua.percentage">
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4" align="right">
                            <input type="button" value="Add Row" class="btn btn-success" (click)="addRow()"> &nbsp;
                            <input type="button" value="Delete Row" class="btn btn-danger" (click)="delRow()"> &nbsp;
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="col-4">
            <input type="submit" value="Add Student" class="btn btn-primary">
        </div>
    </div>
</form>
