<h1>Welcome to Angular</h1>
<h1>My name is {{firstname}}</h1>
<!-- one way binding string interpolation -->
<!-- <input type="text" [value]="lastname"> property binding -->
<input type="text" value="{{lastname}}"><br><br>
<input type="button" value="click me" (click)="showMessage()"><br>
<!-- event binding -->
<!-- <input type="text" name="rama" [(ngModel)]="firstname"> two way binding -->
<br>
<br>
<table border="1" cellpadding="10" cellspacing="0">
  <tr>
    <td>EmpNumber</td>
    <td>EmpName</td>
    <td>EmpSalary</td>

  </tr>
  <tr>
    <td attrib.colspan="colSpanValue">
      <!-- attribute binding -->

    </td>
  </tr>
</table>