<div class="container">
  <div class="row">
    <div class="col-12">
    <a [routerLink]="['/']">layout</a>&nbsp; &nbsp;|&nbsp; &nbsp;
    <a [routerLink]="['/home']">Home</a>&nbsp; &nbsp;|&nbsp; &nbsp;
    <a [routerLink]="['/employee']">Employee</a>&nbsp; &nbsp;|&nbsp; &nbsp;
  </div>
</div>
  <div class="row" style="min-height: 100px;">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
 </div>
 <div class="row">
  <div class="col-12">
    Designed by:susmitha
  </div>
 </div>
</div>