<div class="container">
    <div class="row">
        <div class="col-12">
            <!-- <a [routerLink]="['/']">Home</a> &nbsp;&nbsp; | &nbsp;&nbsp;
            <a [routerLink]="['/employee']">Employee</a> &nbsp;&nbsp; | &nbsp;&nbsp;
            <a [routerLink]="['/customer']">Customer</a> &nbsp;&nbsp; | &nbsp;&nbsp;
            <a [routerLink]="['/student']">Student</a> &nbsp;&nbsp; | &nbsp;&nbsp;
            <a [routerLink]="['/nested']">Nested</a> -->

            <input type="button" (click)="navigateRoute('')"  class="btn-btn-link" value="Home"> &nbsp;&nbsp;| &nbsp;&nbsp;
            <input type="button"  (click)="navigateRoute('employee')" class="btn-btn-link" value="Employee"> &nbsp;&nbsp;| &nbsp;&nbsp;
            <input type="button"  (click)="navigateRoute('customer')"  class="btn-btn-link" value="Customer"> &nbsp;&nbsp;| &nbsp;&nbsp;
            <input type="button" (click)="navigateRoute('student')"  class="btn-btn-link" value="Student"> &nbsp;&nbsp;| &nbsp;&nbsp;
            <input type="button" class="btn-btn-link" value="Nested"> 
            
            

        </div>
    </div>
    <br>
    <div class="row" style="min-height:600px ;">
        <div class="col-12">
           <router-outlet></router-outlet>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12">
          Designed By:"Sathesh"
        </div>
    </div>


</div>
