<!-- <table class="table">
    <thead>
        <tr>
            <th>Cust. Id</th>
            <th>Cust. Name</th>
            <th>Cust. Amount</th>
            <th>Cust. Address</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cust of customers">
            <td>{{cust.custId}}</td>
            <td>{{cust.custName}}</td>
            <td>{{cust.custAmount}}</td>
            <td>{{cust.custAddress}}</td>
        </tr>
    </tbody>
</table> -->
<br>
<app-grid [dataList]="customers"></app-grid>