<form>
    <div class="Container">
        <h1 class="title">Contactus!</h1>
    </div>
    <div class="input">
        <label>Username</label>
        <input type="text" name="username">
    </div>
    <br>
    <div class="input">
        <label>password</label>
        <input type="password"name="password">
    </div>
    <br>
    <div class="input">
        <label>date</label>
        <input type="date"name="date">
    </div>
    <br>
    <div class="input">
        <input type="submit" value="Login" >
    </div>
</form>

