.lessSalary {
    color: white;
    background-color: blueviolet;

}

.less {
    font-weight: bold;
    font-size: 14pt;
}

.normalSalary {
    color: black;
    background-color: transparent;
}

small {
    color: red !important;
}