<div class="col-xs-10 col-sm-10 col-md-6 col-lg-6">
<form name="signup" #signup="ngForm" (ngSubmit) = "signup.valid && register(signup)" >
    <div class="text-center mb-3">
        <h2>Register</h2>
      </div>
     <div class="mb-3">
        <label for="registerUsername" class="form-label">User Name</label>
        <input type="text" name="userName" #userName="ngModel" id="registerUsername" class="form-control" [(ngModel)]="registerUser. userName"
            placeholder="User Name" aria-describedby="username"  required>
        <small *ngIf="(userName.invalid && userName.touched) ||(userName.invalid && signup.submitted)" id="userName" class="text-muted">User Name is Mandatory</small>
    </div>
    <div class="mb-3">
        <label for="registerPassword" class="form-label">Password</label>
        <input type="text" name="password" #password="ngModel" id="registerPassword" class="form-control" [(ngModel)]="registerUser.  password"
            placeholder="Password" aria-describedby="password" required>
        <small *ngIf="(password.invalid && password.touched) ||(password.invalid && signup.submitted)"   id="password" class="text-muted">Password is Mandatory</small>
    </div>
    <div class="mb-3">
        <label for="registerRepeatPassword" class="form-label">Repeat Password</label>
        <input type="text" name="confirmPassword" #cPassword="ngModel" id="registerRepeatPassword" class="form-control"
           [(ngModel)]="confirmPassword"  placeholder="RepeatPassword" aria-describedby="repeatpassword" required>
        <small *ngIf="(cPassword!.invalid && cPassword.touched) || (cPassword.invalid && signup.submitted)"id="repeatPassword" class="text-muted">Confirm Password is Mandatory</small>
    </div>

    <div class="mb-3">
        <label for="registerEmail" class="form-label">Email</label>
        <input type="text" name="email" #email="ngModel" id="registerEmail" class="form-control" [(ngModel)]="registerUser. email"
            placeholder="Email" aria-describedby="email" required >
        <small *ngIf="(email.invalid && email.touched) || (email.invalid && signup.submitted)" id="email" class="text-muted">Email is Mandatory</small>
    </div>
    <div class="mb-3">
        <label for="registerName" class="form-label">Phone Number</label>
        <input type="number" name="phoneNumber" #phoneNumber="ngModel" id="registerName" class="form-control" [(ngModel)]="registerUser. phoneNumber"
            placeholder="Phone Number" aria-describedby="phonenumber" required>
        <small *ngIf="(phoneNumber.invalid && phoneNumber.touched) || (phoneNumber.invalid && signup.submitted)"id="phoneNumber" class="text-muted">phoneNumber is Mandatory</small>
    </div>
    <div class="text-center">
    <div class="mb-3">
        <input type="submit" class="btn btn-primary" value="Signup">
    </div>
    </div>
    <br>
    <div class="text-center">
   Existing User? <a [routerLink]="['/']">Login</a>Here
    </div>
</form>
</div>
