<div class="container">
    <div class="row">
        <div class="col-12">
            <a [routerLink]="['/']">Home</a> &nbsp;&nbsp; | &nbsp;&nbsp;
            <a [routerLink]="['/about']">About</a> &nbsp;&nbsp; | &nbsp;&nbsp;
            <a [routerLink]="['/sevices']">Services</a> &nbsp;&nbsp; | &nbsp;&nbsp;
            <a [routerLink]="['/contactus']">Contactus</a> 

        </div>

    </div>

<div class="row" style="min-height: 600px;">
        <div class="col-12">
           <router-outlet></router-outlet> 
        </div>

    </div>
    <div class="row">
        <div class="col-14">
            Designed By : Snad Developers
        </div>

    </div>
</div>

