<div class="container">
  <div class="header">
      <h2>contact form</h2>
  </div>

  <form action="index.html" class="form" id="form">

      <!--user name field-->
      <div class="field">
          <label>Enter First Name</label>
          <input type="text" placeholder="Enter User Nmae" id="uname">
          <span class="material-symbols-outlined success">
              check_circle
              </span>
              <span class="material-symbols-outlined error">
                  error
                  </span>
          <small>Error Message</small>
      </div>

      <div class="field">
        <label>Enter Last Name</label>
        <input type="text" placeholder="Enter User Nmae" id="uname">
        <span class="material-symbols-outlined success">
            check_circle
            </span>
            <span class="material-symbols-outlined error">
                error
                </span>
        <small>Error Message</small>
    </div>





          <!--mobile number field-->
      <div class="field">
          <label>Enter Mobile Number</label>
          <input type="number" placeholder="Mobile number" class="unmber" id="unumber">
          <span class="material-symbols-outlined success">
              check_circle
              </span>
              <span class="material-symbols-outlined error">
                  error
                  </span>
          <small>Error Message</small>
      </div>

      <!--date field-->
      <div class="field">
          <label>Date of birth</label>
          <input type="date" placeholder="Date of birth" id="dob">
          <span class="material-symbols-outlined success">
              check_circle
              </span>
              <span class="material-symbols-outlined error">
                  error
                  </span>
          <small>Error Message</small>
      </div>


      <!--address field-->
      <div class="field">
          <label>Enter Address</label>
          <input type="text" placeholder="address" id="address">
          <span class="material-symbols-outlined success">
              check_circle
              </span>
              <span class="material-symbols-outlined error">
                  error
                  </span>
          <small>Error Message</small>
      </div>

      <input type="submit" class="button">
  </form>
</div>
